@{
    ViewData["Title"] = "Home Page";
}

    <div style="background-image: url(https://i.imgur.com/ZWbQhnA.png); background-repeat: repeat-x; width: 100%; height: 220px; ">
    </div>
    <div class="text-center">
        <h1 class="display-4">Welcome to Beelicious!</h1>
        <h1>Choose a store!</h1>
    </div>
