@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fi.pinimg.com%2F236x%2F0e%2Fd1%2F42%2F0ed14295d674f51a306671be1f11e198--funny-things-funny-stuff.jpg&amp;sp=1634095600T1c20b36c6510c87f5f9d179753c54d010e690fbec5bd1d87b45acf8a55eeed35"/>>

<p>Our policy is to give you privacy while you're enjoying your delicious, all-natural honey.</p>
