@model Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">

    <div class="col-sm-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group" >
                <label asp-for="Age" class="control-label"></label>
                <input style="background-color:white" asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input style="background-color:white" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input style="background-color:white" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if (Convert.ToInt32(Context.Request.Cookies["CurrentUserId"]) == ViewBag.UserToEditId)
            {
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input style="background-color:white" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            }
            @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
            {

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Access" /> @Html.DisplayNameFor(model => model.Access)
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
