
@{
    ViewData["Title"] = "SubmitOrder";
}

<h1>Congrats! Your Order has been submitted!</h1>
<p>To view this order and past orders, 
<a asp-controller="User" asp-action="OrderHistory">Click here!</a>
</p>

