@model IEnumerable<Models.Order>

@{
    ViewData["Title"] = "Past Orders";
}

<head>
    <script src="~/js/sorttable.js"></script>
</head>

<h1>Order History</h1>

<table class="sortable">
    <thead>
        <tr>
            @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
            {
                <th>
                    User ID
                </th>
            }
                <th>
                    Date Ordered
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
    </thead>
    <tbody>
@for(int x=0; x< ViewBag.Orders.Count; x++){
        <tr>
            @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
            {
            <td>
                @ViewBag.Orders[x].UserId
            </td>
            }
            <td>
                @ViewBag.Orders[x].DateOrdered
            </td>
            <td>
                $@ViewBag.Price[x]
            </td>
            <td>
                <a asp-action="ViewOrderDetails" asp-route-id="@ViewBag.Orders[x].Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
