@model IEnumerable<Models.Order>

@{
    ViewData["Title"] = "Past Orders";
}

<head>
    <script src="~/js/sorttable.js"></script>
</head>

<h1>Order History</h1>

<table class="sortable">
    <thead>
        <tr>
            @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
            {
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
            }
                <th>
                    Date Ordered
                </th>
                <th></th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
            {
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                <a asp-action="ViewOrderDetails" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
